

     <h2 class = "text-center"> Current Notes | <%= bookTitle %> </h2>

     <form action = "/insertNote/<%=index%>/<%=name%>/<%=bookTitle%>" class="form-horizontal " method="post">
       <div class="form-group">
         <input type="text" class="form-control" name="note" placeholder="Enter Note ">
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>

     </form>
        <br>
      <% for(var j=0; j < result.BookTitle[index].Note.length; j++) { %>
       <div class = "text-center">
       <div class= " card p-3 bg-light rounded justify-content-center align-items-center">

          <%= result.BookTitle[index].Note[j] %>

          <form action = "/updateNote/<%=j%>/<%=name%>/<%=bookTitle%>/<%=index%>" class="form-horizontal " method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="note" placeholder="Enter Note ">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
         </div>
         </div>



     <br>
     <% } %>
