



<h1 class="mt-4 text-left">Welcome <%= name %>! </h1>


<br>
<form action = "/createBookEntry/<%=name%>" class="form-horizontal" method="post">
  <div class="form-group">

    <input type="text" class="form-control" name="title" placeholder="Enter Book Title">

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>




<br>
<% for(var i=0; i < result.BookTitle.length; i++) { %>
  <div class = "text-center">
  <div class= " card p-3 bg-light rounded justify-content-center align-items-center">
    <a href= "/getBookNotes/<%=i%>/<%=name%>">
  <%= result.BookTitle[i].Title%>
    </a>

  <!--
  <br>
  <% for(var j=0; j < result.BookTitle.length; j++) { %>
  <%= result.BookTitle[j].Note[j] %>
  <br>
  <% } %>
  -->

    </div>
    </div>

<br>
<% } %>
