<h1 class="mt-4 titleAlign">Welcome <%= fullname %>! </h1>
<br>
<br>



<% for(var i=0; i < Math.ceil(result.BookTitle.length / 3); i++) { %>

  <div class="container text-center">
  <div class="row">
  <% for(var j=0; j < 3; j++) { %>
    <% if(result.BookTitle.length  > (j +(i *3))) { %>
  <div class="col-md d-flex justify-content-center">
  <div class="row h-90 align-items-center card2 rounded shadow">
    <div class="card-body">
      <h5 class="card-title">

        <a href= "/getBookNotes/<%=j + (i*3)%>/<%=name%>">
          <%= result.BookTitle[j +(i *3)].Title%>
          </a>
       </h5>

      <h6 class="card-subtitle mb-2 text-muted"><%= result.BookTitle[j +(i *3)].Author%></h6>
      <br>

      <div class="d-flex justify-content-around">
      <%= result.BookTitle[j +(i *3)].Note.length%> Notes

      <a href = "/" data-toggle="modal" data-target="#deleteModal<%=j+(i * 3)%>">
      <i class="fas fa-trash-alt fa-lg" title="Delete Book Entry"></i>
      </a>
      </div>


    </div>
  </div>
  </div>


<% if(result.BookTitle.length > j +(i *3)) { %>
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal<%=j+(i * 3)%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">

              <h5 class="modal-title" id="exampleModalLabel"> Confirm Deletition : <i> <%= result.BookTitle[j+(i * 3)].Title%> </i> </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form action = "/deleteNote/<%= result.BookTitle[j+(i * 3)].Title%>/<%=name%>" class="form-horizontal text-center " method="post">
                 <button type="submit"><i id = "trash" class="fas fa-trash-alt fa-2x"></i></button>
              </form>
           </div>
        </div>
     </div>
  </div>
  <% } %>
  <% } %>
 <% } %>

  </div>
  </div>


<br>




<% } %>




<div class = "text-center">
   <a href = "/" data-toggle="modal" data-target="#exampleModal">
   <i class="fas fa-pencil-alt fa-2x" title="Create Book Entry"></i>
   </a>
</div>
<br>




<!-- Create Book Entry Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Create Book Entry </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form action = "/createBookEntry/<%=name%>" class="form-horizontal" method="post">
               <div class="form-group">
                  <input type="text" class="form-control" name="title" placeholder="Book Title">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" name="author" placeholder="Author">
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
      </div>
   </div>
</div>
